.monospace {
  font-family: monospace;
}

.table {
  :global(.ant-table-cell-row-hover) {
    // Erase the slight on-hover color (TODO: this erases the selected color as well but shouldn't)
    background-color: inherit !important;
  }
}

.tableContent {
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.tiptap {
  :global(.ProseMirror) {
    // Copied from antd
    max-width: 100%;
    min-height: 200px;
    line-height: 1.5714285714285714;
    vertical-align: bottom;
    transition: all 0.3s, height 0s;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;

    &:hover {
      border-color: #4096ff;
      border-inline-end-width: 1px;
    }

    &:focus {
      border-color: #4096ff;
      box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
      border-inline-end-width: 1px;
      outline: 0;
    }

    p:first-child {
      margin-top: 0px;
    }
    p:last-child {
      margin-bottom: 0px;
    }
  }
}
